# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment Variables
.env

# Local Databases & Logs
*.db
*.sqlite3
*.log

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & OS metadata
.vscode/
.idea/
.DS_Store
Thumbs.db
